[access]
	inheritFrom = All-Projects
[access "refs/*"]
	read = group COSRD
	create = group COSLeader
	label-Code-Review = -2..+2 group Leader
	label-Manual-Test = -1..+1 group Leader
	label-Verified = -1..+1 group Leader
	submit = group Leader
[access "refs/for/*"]
	push = group RD
	pushMerge = group RD
	pushTag = group RD
[access "refs/heads/master"]
	exclusiveGroupPermissions = label-Verified
	label-Verified = -1..+1 group tools